.cartDiv{
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2022/09/09/16/50/cyberpunk-7443431_960_720.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
hr{
    color: white;
    height: 30px;
}

.lineDiv{
    height: 40px;
    background-color: rgb(230, 176, 0);
    opacity: 1;
    color: rgb(221, 202, 92);
    font-weight: bold;


    background-image: url("https://cdn.pixabay.com/photo/2022/09/09/16/50/cyberpunk-7443431_960_720.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 130% 600px;
    background-attachment: inherit;
    background-position:right top; 

}

.innerDiv{
    height: 500px;
    background-color: rgb(240, 240, 240);
    height: fit-content;
}

.summaryDiv {
    
    display: flex; 
    flex-direction: column;
    align-items: baseline;
    justify-content:space-between;

    
}
.summaryAndTotal{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.summaryDiv li{
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px;
    width: 95%;
    list-style-type: none;

}

.cartSideDiv input{
    margin-bottom: 10px;
}
.cartSideDiv{
    
    display: flex;
    flex-direction: column;

    
}

.cartSideDiv button{


margin-bottom: 5px;
}

.totalDiv{

    background-color: rgb(252, 249, 222);
    width: 30%;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
}

.error{
    color: red;
    
}