main .catalogDiv{
    background-color: #ffd600;
    width: 2500px;
    } 

.catalog{

padding-top: 15px;
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 10px;
grid-auto-rows: 500px;
width: 100%;
background-color: black;
}

.catalog h3 {

    text-align: center;
    color: olivedrab;

}