.navbar h1{
    color: #353535;
    text-align: center;
    font-weight: bold;
}

.navbar{
    display: flex;
align-items: center;
justify-content: center;
background-color: yellow;


}

.navbar .lbl-user{

    margin-right: 10px;
    border: 1px solid black;
    padding: 10px 8px 5px 9px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.navbar .lbl-user .i-user{
    margin-right: 5px;
    padding-bottom: 4px;
}