
.product h1{

    color: rgb(75, 2, 75);
    font-weight: bold;
    font-size: medium;

}

.product img{
    padding: 10px;
}

.product label{
    margin: 0 6px;
}

.product{

    border: 6px solid #3d7cca;
    border-radius: 8px ;
    margin: 8px;
    height: fit-content;
    background-color: rgb(238, 238, 121);
    width: 300px;
    box-shadow: 10px 10px 5px #8bbaf3;
    padding-bottom: 10px;
    word-spacing: 1px;
    color: black;
} 

.product:hover{

    background-color: rgb(243, 213, 43);
}

.btn-block{
    color: black;
    width: 90%;
}


/* media queries for screen sizes smaller than 769 */
@media (max-width: 768px){
    .product img {
        width: 80%;
        height: auto;
    }

    .product{
        border: 3px solid #3d7cca;
        margin: 6px;
        width: 90%;
        display: block;
 
    }


}

/* media queries for screen sizes larger than 769 up to 1024  */
@media (min-width: 769px) and (max-width: 1024px){
    .product img {
        width: 100%;
        height: auto;
    }



}

